<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="http://andyf.me/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="bg"></div>
    <header>
      <h1>{{title}}</h1>
      <p>A simple tool for browsing and searching Unicode characters, inspired
      by <a href="http://www.alanwood.net/unicode/index.html">Alan Wood</a>,
      and using data from the official <a
        href="http://www.unicode.org/ucd/">Unicode Character Database</a>.</p>

      <!--[if IE lte 8]>
      <p class="alert">Sorry, this tool is not backwards-compatible with old browsers.</p>
      <![endif]-->

      <p>Characters are displayed using the <a
        href="http://dejavu-fonts.org/wiki/Main_Page">DejaVu</a> sans font, to
      maximise the range that can be displayed. Even so, you will see ‘missing
      glyph’ boxes for many less common characters, depending on the fonts
      installed on your computer/device.</p>

      <div id="controls">
        <label for="block">Block:</label>
        <dl class="dropdown">
          <dt id="block" data-value="-1">WGL4 meta-block</dt>
          <dd>
            <nav id="block_list">
              <a href="#-1" class="selected">WGL4 meta-block</a>
              {{#each blocks}}<a href="#{{id}}">{{name}}</a>
              {{/each}}
            </nav>
          </dd>
        </dl>

        <script>
          var UCDB = {};
          UCDB.blocks = {{{blocksJSON}}};
          UCDB.blockLookup = {
            '-1': 'WGL4 meta-block'
          };
          UCDB.blocks.forEach(function (block) {
            UCDB.blockLookup[block.id] = block.name;
          });
          delete UCDB.blocks;
        </script>

        <br>

        <label for="search">Search: </label>
        <input id="search" type="search" placeholder="enter a character name or code" data-last-value="">
        <input id="block_only" type="checkbox">
        <label for="block_only">in this block only</label>

      </div>

      <div id="wgl4_limiter">
        <input id="wgl4_only" type="checkbox">
        <label for="wgl4_only">Limit to characters present in <a href="http://en.wikipedia.org/wiki/Windows_Glyph_List_4">WGL4</a></label>
      </div>
    </header>

    <div id="charlist" class="loading"></div>

    <footer>
      <p>By <a href="http://andyf.me/">Andy Farrell</a>.</p>
    </footer>

    <script src="/js/lib/handlebars.runtime-v1.3.0.js"></script>
    <script src="/js/templates.js"></script>
    <!--<script src="http://andyf.me/js/randomcharbg.js"></script>-->
    <script src="/js/randomcharbg.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
