<h2>{{count}} characters</h2>
<table>
  <thead>
    <tr>
      <th class="char">Char<span class="large-screen">acter</span></th>
      <th class="dec">Dec<span class="large-screen">imal</span></th>
      <th class="hex">Hex</th>
      <th class="entity">HTML</th>
      <th class="name">Name</th>
      {{#if showBlock}}
      <th class="block">Block</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
  {{#each characters}}
    <tr {{#if wgl4}}class="wgl4"{{/if}}>
      <td class="char"><span>{{{char}}}</span></td>
      <td class="dec">{{code}}</td>
      <td class="hex">{{hexCode}}</td>
      <td class="entity">{{#if htmlEntity}}&amp;{{htmlEntity}};{{/if}}</td>
      <td class="name">
        {{name}}
        {{#if altName}}
          ({{altName}})
        {{/if}}
        {{#if wgl4}}<span>(✓<span class="large-screen"> in WGL4</span>)</span>{{/if}}
      </td>

      {{#if ../showBlock}}
      <td class="block"><a href="#{{blockId}}">{{block}}</a></td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
