<h2>{{count}} characters</h2>
<table>
  <thead>
    <tr>
      <th class="char">Character</th>
      <th class="dec">Decimal</th>
      <th class="hex">Hex</th>
      <th class="name">Name</th>
    </tr>
  </thead>
  <tbody>
{{#each characters}}
    <tr>
      <td class="char"><span>{{{char}}}</span></td>
      <td class="dec">{{code}}</td>
      <td class="hex">{{hexCode}}</td>
      <td class="name">
        {{name}}
        {{#if altName}}
          ({{altName}})
        {{/if}}
        {{#if wgl4}}<span>(✓ in WGL4)</span>{{/if}}
      </td>
    </tr>
{{/each}}
  </tbody>
</table>
